.add_fild {
    margin: 0 auto;
    width: 40% !important;
    padding: 10px 25px !important;
}

.add_all_fild {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.add_all_fild label {
    width: 40%;
}