.dashboard_main {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dashboard_card {
    margin: 0 20px;
    min-width: 150px;
    max-width: 250px;
}