.pay_rec_heading h4 {
    text-align: center;
    margin-top: 10px;
}

.pay_rec_filds,
.pay_rec_filds_pyrc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay_rec_filds input {
    margin-left: 10px;
}

.pay_rec_filds select {
    margin-left: 10px;
}

.purchase_filds label {
    margin: 6px 0;
    text-align: center;
}

.purchase_filds button {
    margin: 24px 0 0 0;
}

.button_submit {
    display: flex;
}

.button_submit button {
    margin-right: 10px;
}

.sell_list {
    position: absolute;
    height: 100vh;
    width: 80%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.8);
}

.sell_list th,
.sell_list td {
    background-color: white;
}

.lot_save_cansal button {
    margin: 0 30px;
}

.show_button {
    display: flex;
    margin: auto;
}

.delete_invoice {
    float: right;
    padding-right: 17px;
}

.show_button_pyrec {
    margin-left: 15px;
}

.purchase_vaya label {
    margin: 2px 0;
    text-align: center;
}