.purchase_heading h4 {
    text-align: center;
    margin-top: 10px;
}

.purchase_filds {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purchase_filds input {
    margin-left: 10px;
}

.purchase_filds select {
    margin-left: 10px;
}

.purchase_artical {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem !important;
}

.purchase_artical_total label {
    width: 45%;
}

.purchase_artical_difference {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase_artical_difference label {
    width: 60%;
}

.purchase_button_save_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purchase_heading_id {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purchase_heading_id label {
    margin-left: 10px;
}