.purchase_heading h4 {
    text-align: center;
}

.purchase_filds {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.purchase_filds input {
    margin-left: 10px;
}

.purchase_filds select {
    margin-left: 10px;
}

.purchase_artical_total label {
    width: 45%;
}

.purchase_button_save_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sell_list {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.8);
}

.sell_list th,
.sell_list td {
    background-color: white;
}

.lot_save_cansal button {
    margin: 0 30px;
}