.silder_Main {
    /* width: 290px !important; */
    position: sticky;
    top: 0;
    color: #ffffff;
    height: 100vh;
    background-color: #11191e;
}

.silder_Main h5 {
    font-size: 17px;
}

.silder_Arcoding_Heading {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 12px;
}

.silder_Arcoding_Button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.silder_Arcoding_Button_logout {
    position: absolute;
    bottom: 0;
}

.silder_Arcoding_Button button {
    color: #cbcbcb !important;
    font-size: 15px;
}

.silder_Arcoding_Heading i {
    margin-right: 20px;
}

.silder_Arcoding h5 {
    margin: 5px 0;
}

.silder_Main_Heading {
    margin: 5px 0 5px 12px;
    cursor: pointer;
    text-align: left
}